[Desktop Entry]
Name=Batti
Comment=Observe the battery status in the tray
Exec=cbatticon
Terminal=false
Type=Application
Icon=batti
StartupNotify=false
Categories=GTK;System;Monitor;
